<h2>Введите данные для входа</h2>

<a href="/">Домой</a>

<form id="formLogin" method="POST" action="/login">
  <p>
    <input name="email" type="email" required> - email адрес*
  </p>
  <p>
    <input name="password" type="password" required> - пароль*
  </p>
  * - поля обязательные для заполнения<br>

  <input type="submit" value="Войти">
</form>
